@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Global Styles */

body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 10px 20px;
  line-height: 1.6;
  background-color: #000000;
  color: #c0b1fe;
  
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Heading Styles */

h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
  color: #588ddc;
  text-shadow: 2px 2px 4px rgba(29, 23, 69, 0.5);
}

/* Link Styles */

a {
  color: #98fb98;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: #afeeee;
}

/* Button Styles */

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: 	#b0e0e6;
  color: #4682b4;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: 	#4169e1;
  color: 	#000080;
}

/* Navigation Styles */

.header-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.header-nav li {
  margin: 0 10px;
}

.header-nav a {
  color: #294fc0;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.header-nav a:hover {
  color: 	#fbe068;
}

.header-nav a.active {
  color: #8574db;
}

/* Footer Styles */

.site-footer {
  background-color: #000000;
  color: #40e0d0;
  padding: 20px;
  text-align: center;
}

.site-footer a {
  color: #7cdcd2;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.site-footer a:hover {
  color: #008080;
}

/* Custom */

.input-dark {
  color: rgb(139, 72, 0);
}

.input-light {
  color: rgb(86, 227, 103);
}

.label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff8cff;
  color: #4b3080;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
  font-family: 'Roboto Mono', monospace;
}

.label:hover {
  background-color: #ffffff;
  color: #4b2e86;
}

.header {
  font-size: 36px;
  text-align: center;
  margin-bottom: 10px;
  color: #588ddc;
  text-shadow: 2px 2px 4px rgba(29, 23, 69, 0.5);
}

.result {
  font-size: 16px;
  margin-bottom: 10px;
  color: #13dcff;
  text-shadow: 2px 2px 4px rgba(29, 23, 69, 0.5);
}

.file-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #52abc3;
  color: #09285a;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
  font-family: 'Roboto Mono', monospace;
}

.submit-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f9d04a;
  color: #866e1e;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
  font-family: 'Roboto Mono', monospace;
}

.result {
  margin-top: 10px;
  font-size: 16px;
  color: #f29b78;
  font-style: italic;
}
