/* Heading Styles */

.title {
  font-size: 48px;
  text-align: center;
  margin-bottom: 20px;
  color: #9370db;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: 'Roboto Mono', monospace;
}

/* Button Styles */

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff8cff;
  color: #4b3080;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
  font-family: 'Roboto Mono', monospace;
}

.button:hover {
  background-color: #ffffff;
  color: #4b2e86;
}

